.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

/* Style for the main scrollbar */
.col::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
  background-color: transparent; /* Transparent background */
}

.col::-webkit-scrollbar-thumb {
  background-color: #0098ca; /* Color of the scrollbar thumb */
  border-radius: 3px; /* Rounded corners for the thumb */
}


html body{
  background-color: #f2f2f2;
}

.header {
  padding: 0;
  margin: 3px;
  margin-bottom: 0;
  flex: 1;
  background-color: #507299;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.custom-col {
  padding: 6px;
  padding-top: 8px;
  height: 93vh;
  background-color: #fff;
  margin: 3px;
  margin-top: 0;
  flex: 1;
  overflow-y: auto;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.drag-over {
  background-color: rgb(227,246,220); /* Change the background color */
}

.card-body {
  background-color: #d6ecf2;
  padding: 6px;
  /* border-left: 3px solid #0098ca; */
}

.add-button {
  margin-right: 3px;
  color:#e6687d;
  font-size: 20px;
}
.add-button:hover {
  color: red;
  cursor: pointer;
}

.modal-header {
  background-color: #507299;
  color: white
}
.modal-footer {
  background-color: #507299;
  color: white
}
.modal-content{
  border: 0px;
}

.edit-icon {
  color:#e6687d;
}
.edit-icon:hover {
  color: red;
  cursor: pointer;
}